<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.csumb.ideasofmarch.codecruncher"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.csumb.ideasofmarch.codecruncher.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.csumb.ideasofmarch.codecruncher.ChooseMode"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.csumb.ideasofmarch.codecruncher.Settings"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.csumb.ideasofmarch.codecruncher.Help"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.csumb.ideasofmarch.codecruncher.HighScores"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.csumb.ideasofmarch.codecruncher.BinaryToDecimal"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.csumb.ideasofmarch.codecruncher.BinaryToDecimalHard"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="edu.csumb.ideasofmarch.codecruncher.DecimalToBinary"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.csumb.ideasofmarch.codecruncher.HexToDecimal"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.csumb.ideasofmarch.codecruncher.DecimalToHex"
            android:label="@string/title_activity_decimal_to_hex" >
        </activity>
        <activity
            android:name="edu.csumb.ideasofmarch.codecruncher.BinaryToHex"
            android:label="@string/title_activity_binary_to_hex" >
        </activity>
        <activity
            android:name="edu.csumb.ideasofmarch.codecruncher.HexToBinary"
            android:label="@string/title_activity_hex_to_binary" >
        </activity>
        <activity
            android:name="edu.csumb.ideasofmarch.codecruncher.About"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="edu.csumb.ideasofmarch.codecruncher.BinaryToHexHard"
            android:label="@string/title_activity_binary_to_hex_hard"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="edu.csumb.ideasofmarch.codecruncher.GameOver"
            android:label="@string/title_activity_game_over" >
        </activity>
    </application>

</manifest>